<div class="container-fluid">
    <table class="table table-hover" id="tableHorario">
        <thead>
            <tr>
                <th scope="col">Nombre del tipo Curso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tipoCurso in tipoCursos">
                <td>{{tipoCurso.nombreTipoCurso}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="eliminarTipoCurso(tipoCurso.idTipoCurso)">Eliminar</button>
                    <button class="btn btn-success" ui-sref="editarTipoCurso({id:tipoCurso.idTipoCurso})">Actualizar</button>
                </td>
            </tr>
        </tbody>
    </table> 
</<div>