<div class="container-fluid">

            <h1>Crear Horario</h1>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3" style="padding-top: 3em">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Información Horario</h3>
                        </div>
                        <div class="panel-body">
                            <form>
                                <div class="col-xs-6">
                                     <div class="form-group">
                                        <label>Dia</label>
                                        <select class="form-control" ng-model="horario.dia" required name="dia">
                                            <option value="">-Seleccione-</option>
                                            <option>Lunes</option>
                                            <option>Martes</option>
                                            <option>Miercoles</option>
                                            <option>Jueves</option>
                                            <option>Viernes</option>
                                            <option>Sabado</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>Hora Inicio</label>
                                        <input type="text" class="form-control" required placeholder="Hora Inicio" ng-model="horario.hora_inicio" name="hora_inicio">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>Hora Fin</label>
                                        <input type="time" class="form-control" required placeholder="Hora Fin" ng-model="horario.hora_finalizacion" name="hora_fin">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-default" ng-if="!horario.id" id="crearBoton" ng-click="crearHorario()">Crear Horario</button>
                                        <button type="submit" class="btn btn-primary" >cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>

